POSTGRES_DB=barlingo
POSTGRES_USER=barlingo
POSTGRES_PASSWORD=replace-with-a-long-random-password
APP_PORT=3000
# For a published GitHub Container Registry image:
# APP_IMAGE=ghcr.io/amonemisa/alcoholbargame:latest

